    /* sec1 */
.sec1{
    background-color: rgba(26, 30, 31, 0.966);
}
.inbox1{
    min-height: 80px;
    /* background-color: rgb(157, 240, 240); */
}
/* .h1{
    font-size: 10px;
    color: white;
    display: flex;
} */
/* ul,.button ul{
    list-style-type: none;
    display: flex;
    gap: 5px;
    padding-top: 37px;
} */
.link1{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    /* padding: 20px 0px; */
}

.cart{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 200px;
    opacity: 0.6;
    font-size: 13px;
}
.clogo{
  opacity: 0.6;  
}
/* @media(max-width:768px){
    .logo{
        padding-left: 280px;
    }

    /* ul,.button ul{
        padding-left: 100px;
    } */

/* @media(max-width:468px){
    .logo{
        padding-left: 150px;
    }

    ul,.button ul{
        padding-left: 100px;
    }
} */

/* sec2 */
.sec2{
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(alfam.webp);
    background-position: center;
    background-size: cover;
    /* opacity: 0.8; */
}
/* .inbox2{
    min-height: 200px;
    background-color: rgb(228, 135, 23);
} */
/* .bull{
    margin-left: 280px;
    margin-top: 30px;
} */
/* .h2{
    text-align: center;
    color: white;
    font-size: 50px;
} */
.btn-primary{
    background-color: rgb(207, 137, 8);
    /* margin-left: 500px; */
    border-color: rgb(207, 137, 8);
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 80px;
}
/* @media(max-width:768px){
    .bull{
        margin-left: 180px;
    }
    .btn-primary{
        margin-left: 300px;
    }
} */
/* @media(max-width:468px){
    .bull{
        margin-left: 50px;
    }
    .btn-primary{
        margin-left: 165px;
    }
} */

/* sec3 */
.sec3{
    background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)),url(cake.png);
    background-position: center;
    background-size: cover;
}

.p1{
    color: white;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-family: chancery italic script;
}





/* sec4 */
.sec4{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(hotel.jpg);
    background-position: center;
    background-size: cover;

}
/* .inbox6{
    min-height: 430px;
    background-color: rgb(137, 223, 223);
} */
.local{
    color: white;
    text-align: center;
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    letter-spacing: 0.1em;
}
.star{
    font-size: 60px;
}
.p2{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-size: 20px; */
    /* padding-top: 25px; */
    letter-spacing: 0.1em;
}
.btn-secondary{
    background-color: rgb(207, 137, 8);
    /* margin-left: 500px; */
    border-color: rgb(207, 137, 8);
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
@media(max-width:768px){
    .local, .star{
        font-size:50px ;
    }
    .p2{
        font-size: 18px;
    }
    
}
@media(max-width:468px){
    .local, .star,.cat,.h9,.h8,.p6{
        font-size:30px ;
    }
    .p2{
        font-size: 12px;
        padding-top: 18px;
    }
    
    /* .inbox6{
    min-height: 400px;
    background-color: rgb(137, 223, 223);
} */
}

/* sec5 */
.sec5{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(catering.jpg);
    background-position: center;
    background-size: cover;
}
/* .inbox7{
    min-height: 300px;
    background-color: blueviolet;
} */
/* .knife{
    margin-left: 500px;
    margin-top: 55px;
} */
.cat{
    color: white;
    font-family: serif;
    font-size: 55px;
    /* font-weight: bold; */
    text-align: center;
    letter-spacing: 0.1em;
}
.p4{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.1em;
}
.btn-warning{
    color: white;
    /* margin-left: 480px; */
    /* margin-bottom: 50px;
    margin-top: 30px; */
    border-color: rgb(207, 137, 8);
    background-color: rgb(207, 137, 8);

}

@media(max-width:468px){
    .local, .star,.cat{
        font-size:30px ;
    }
}
@media(max-width:390px){
    
    .p4{
        font-size: 12px;
    }
}

/* sec6 */
.sec6{
    background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)),url(catering.jpg);
    background-position: center;
    background-size: cover;
}
.inbox8, .inbox9, .inbox10,.inbox13,.inbox4,.inbox6,.inbox2,.inbox7,.inbox11,.inbox12,.inbox14{
    min-height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    flex-direction: column;
    /* background-color: rgb(148, 137, 137); */
}


/* .p5{
    color: rgb(10, 10, 10);
    text-align: center;
    padding-top: 55px;
    font-size: 20px;
    font-style: italic;
    font-family: chancery italic script;
} */
.imp{
    font-weight: bold;
}
@media(max-width:768px){
   
    /* .p5{
        font-size: 14px;
        padding-top: 78px;
    } */
}

/* @media(max-width:468px){
   
    .p5{
        font-size: 11px;
        padding-top: 40px;
    }
   
} */
/* @media(max-width:390px){
    
    .p5{
        font-size: 10px;
        padding-top: 38px;
    }
} */

/* sec7 */
.sec7{
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.9)),url(sos.jpg);
    background-position: center;
    background-size: cover;
}
/* .inbox11{
    min-height: 350px;
    background-color: blue;
} */
.h7{
    color: white;
    font-weight: bold;
    text-align: center;
    /* padding-top: 100px; */
    font-size: 40px;
    letter-spacing: 0.2em;
}
.p6{
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 55px;
    letter-spacing: 0.2em;
}
.p7{
    color: white;
    /* font-size: 13px; */
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    /* padding-top: 10px; */
}
.btn1{
    /* margin-left: 510px; */
    /* margin-bottom: 100px; */
}

@media(max-width:390px){
    .p6{
        font-size: 28px;
    }
    .p7{
        font-size: 11px;
    }
   
}
@media(max-width:720px){
    .p6{
        font-size: 27px;
    }
}

/* sec8 */
.sec8{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.9)),url(royal.jpg);
    background-position: right;
    background-size: cover;
}
/* .inbox12{
    min-height: 450px;
    background-color: aquamarine;
} */
/* .rlogo{
    margin-left: 630px;
    margin-top: 80px;
} */
.h8{
    color: white;
    text-align: center;
    font-size: 55px;
    letter-spacing: 0.4rem;
}
.p8{
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1rem;
}


@media(max-width:468px){
    
    .h8{
        /* margin-left: 170px; */
        font-size: 45px;
    }
}


/* sec9 */
.sec9{
    background: linear-gradient(rgba(151, 106, 21, 0.9),rgba(151, 106, 21, 0.9)),url(fam.jpg);
    background-position: center;
    background-size: cover;
}

.p9{
    color: white;
    text-align: center;
    font-size: 20px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
.we{
    font-weight: bold;
}
.john{
    /* font-size: 16px; */
}
@media(max-width:768px){
    .p9{
        /* font-size: 13px; */
        /* padding-top: 70px; */
    }
    .john{
    font-size: 13px;
    }
}
@media(max-width:720px){
    .p9{
        /* padding-top: 60px; */
        /* font-size: 11px; */
    }
}
@media(max-width:390px){
    .p9{
        font-size: 18px;
        /* padding-top: 50px; */
    }
    .john{
    /* font-size: 10px; */
    }
    .inbox13{
    min-height: 110px;
}
}

/* sec10 */
.sec10{
    background: linear-gradient(rgba(43, 42, 42, 0.9),rgba(43, 42, 42, 0.9)),url(chef1.jpg);
    background-position: center;
    background-size: cover;
}
/* .inbox14{
    min-height: 400px;
    background-color: blue;
} */
.h9{
    color: white;
    text-align: center;
    font-size: 55px;
    letter-spacing: 0.4rem;
    text-decoration: underline;
    /* padding-top: 80px; */
}
.p10{
    color: white;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1rem;
    /* padding-top: 25px; */
}

@media(max-width:768px){
    
    .h9{
        font-size: 45px;
    }
}
@media(max-width:390px){
    .h9{
        font-size: 28PX;
    }
    
    .inbox14{
        min-height: 350px;
    }
    .p10{
        font-size: 15px;
    }
}

/* sec11 */
.sec11{
    background-color:rgb(44, 44, 44);
}
.inbox15{
    min-height: 200px;
    display: flex;
    align-items: start;
    /* text-align: center; */
    justify-content: start;
    /* font-size: 20px; */
    flex-direction: column;
    /* background-color: blue; */
}

.h10{
    color: white;
    font-weight: bold;
    font-size: 17px;
    /* text-align: center; */
    /* padding-top: 50px; */
    /* padding-left: 20px; */
}
 ul{
    list-style-type: none;
    /* display: flex; */
    gap: 15px;
    color: white;
    /* padding-top: 10px; */

}
a{
    color: white;
    text-align: center;
    /* padding-left: 50px; */
    text-decoration: none;
}
.h11{
    color: white;
    font-weight: bold;
    font-size: 17px;
    /* text-align: center; */
    /* padding-top: 50px; */
    /* padding-left: 30px; */

}
.link2{
    /* text-align: left; */
}
.p11{
    color: white;
    /* text-align: center; */
    
    font-weight: bold;
}
.h12{
    color: white;
    
    font-weight: bold;
    font-size: 17px;
    /* padding-top: 50px; */
}



 



/* sec12 */
.sec12{
    background-color: black;
}
.inbox16{
    min-height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.p12{
    color: rgba(236, 234, 234, 0.63);
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    /* padding-right: 300px; */
    /* padding-top: 15px; */
}




@media(max-width:720px){
    .p12{
        /* padding-right: 50px; */
    }
}
@media(max-width:468px){
    .p12{
        /* padding-right: 8px; */
    }
   
}

/* Default (Desktop) */
.social-icon {
  max-height: 30px;
}
.icon1{
    margin-left: 350px;
}

/* Tablet (≤768px) */
@media (max-width: 768px) {
  .social-icon {
    max-height: 26px;
  }
}

/* Mobile (≤468px) */
@media (max-width: 468px) {
  .social-icon {
    max-height: 22px;
  }

  .p12 {
    font-size: 14px;
  }
}
@media (max-width: 720px) {
  .icon1 {
    margin-left: 60px;
  }
}
